body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
.left-panel {
    width: 25%;
    padding: 20px;
    background-color: #d3d3d3;
    border-right: 1px solid #ccc;
}

.left-panel h2 {
    margin-top: 0;
}

.control {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* RIGHT PANEL */
.right-panel {
    width: 75%;
    padding: 20px;
}

#plot {
    width: 100%;
    height: 25%;
}

#plot_membership {
    width: 100%;
    height: 50%;
}